<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>Koding.TV by al-the-x</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>Koding.TV</h1>
            <h2>Watch people code live and pick up tips, tricks, and advanced techniques...!</h2>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
    </div>
</body>

</html>
